{% extends 'base.html.twig' %}

{% block title %}Permis{% endblock %}

{% block body %}
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
   {{parent()}}

		<div class="container-fluid m-2">
			<div class="row d-flex justify-content-between mb-3">
				<h1 class="my-2">Permis</h1>
				<a href="{{ path('permis_new') }}" class="btn btn-info align-self-center mr-4">
					<i class="fa fa-plus"></i>
					Ajouter</a>
			</div>

			<div class="container-fluid m-2">

			<p class='alert-info p-3'><i class="fa fa-info-circle"></i> Le contenu de cette page se répercute sur les pages modèles de moto.</p>
			
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Permis</th>
						<th>Symbole</th>
						<th colspan="2">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for permis in permis %}
						<tr>
							<td class='align-middle'>{{ permis.id }}</td>
							<td class='align-middle'>{{ permis.libPermis }}</td>
							<td class="cellwidthimg">
								{% if permis.symbolePermis !="" %}
									<img src="/img/{{ permis.symbolePermis }}" alt="{{ permis.libPermis }}" class="img-prez img-fluid mx-auto">
								{% else %}
									<img src="/img/default.png" alt="default_image" class="img-prez img-fluid mx-auto">
								{% endif %}
							</td>
							<td  class='align-middle flex-nowrap align-self-auto'>
								<a href="{{ path('permis_edit', {'id': permis.id}) }}" class="btn btn-info">
									<i class="fa fa-pen"></i>
									Modifier</a>
								<a href="{{ path('permis_delete', {'id': permis.id}) }}" class="btn btn-danger">
									<i class="fa fa-trash-alt"></i>
									Supprimer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


</main>
{% endblock %}
