{% extends 'base.html.twig' %}

{% block title %}
	Modifier le forfait -
	{{ forfait.libForfait }}
{% endblock %}

{% block body %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
		<div class="col-12">
			<h1>Modifier le forfait -
				{{ forfait.libForfait }}</h1>
			<a href="{{ path('forfaits_index') }}" class="btn btn-info">
				<i class="fa fa-arrow-left"></i>
				Retour à la liste
			</a>
		</div>

		<div class="container mt-3">

			{{ form_start(form)}}

			<div class="mb-3">
				{{form_label (form.lib_forfait)}}
				<font style="color:red">*</font>
				{{form_widget (form.lib_forfait)}}
			</div>

			<div class="mb-3">
				{{form_label (form.descr_forfait)}}
				{{form_widget (form.descr_forfait)}}
			</div>

			<div class="mb-3">
				{{form_label (form.prix_forfait)}}
				{{form_widget (form.prix_forfait)}}
			</div>

			<div class="mb-3">
				{{form_label (form.services)}}
				{{form_widget (form.services)}}
			</div>

			{{ form_rest(form)}}
			<div class="row mt-3">
				<button type="submit" class="btn btn-info mr-2">
					<i class="fa fa-pen"></i>
					Modifier</button>
				<a href="{{path('forfaits_delete', {'id':forfait.id})}}" class="btn btn-danger mr-2">
					<i class="fa fa-trash"></i>
					Supprimer</a>
			</div>
			{{ form_end(form)}}

		</div>

	</main>
{% endblock %}
