{% extends 'base.html.twig' %}

{% block title %}Thèmes du FAQ
{% endblock %}

{% block body %}
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
{{parent()}}

		<div class="container-fluid m-2">
			<div class="row d-flex justify-content-between mb-3">
				<h1 class="my-2">Thèmes du FAQ</h1>
				<a href="{{ path('themes_faq_new') }}" class="btn btn-info align-self-center mr-4">
					<i class="fa fa-plus"></i>
					Ajouter</a>
			</div>

			<div class="container-fluid m-2">

			<p class='alert-info p-3'><i class="fa fa-info-circle"></i> Le contenu de cette page se répercute sur la page FAQ et permet de regrouper les duo question/réponses de la table lors du tri automatique de la page FAQ.</p>

				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Thèmes des question</th>
							<th colspan="2">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for themes_faq in themes_faqs %}
							<tr>
								<td>{{ themes_faq.id }}</td>
								<td>{{ themes_faq.themeQuestion }}</td>
								<td>
									<a href="{{ path('themes_faq_edit', {'id': themes_faq.id}) }}" class="btn btn-info">
										<i class="fa fa-pen"></i>
										Modifier</a>
									<a href="{{ path('themes_faq_delete', {'id': themes_faq.id}) }}" class="btn btn-danger">
										<i class="fa fa-trash-alt"></i>
										Supprimer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
