{% extends 'base_front.html.twig' %}

{% block meta %}
	<meta name="description" content="{{page.metadescr}}">
	<meta name="keywords" content="{{page.metakw}}">
{% endblock %}


{% block title %}
	{{page.libPage}}
{% endblock %}


{% block body %}
	<main
		class="py-5 justify-content-center position">

		<!-- Présentation de la marque -->
		<section class="brand_presentation justify-content-center text-center">
			<img src="/img/{{marque.logoMarque}}" alt="benelli-logo" class="img-brand">
			<div class="container w-75 text-center p-1 mt-2">
				<p>Retrouvez toutes nos annonces sur
					<a href="https://www.leboncoin.fr/recherche?category=3&text=reaction%20moto&locations=Saint-Ouen-l%27Aumône_95310__49.04635_2.10593_4102_10000" class="text-danger" target="_blank">leboncoin</a>
					!</p>
			</div>
		</section>

		<hr
		class="separator pb-3">
		
		<section class="row d-flex models mb-5 justify-content-center">
			<div class="container w-100">

				{% for modele in modeles %}
					<div class="row d-flex">
						<div class="col-3 align-self-center">
							<a href="{{path('show_moto', {'id': modele.id})}}">
								{% if modele.img1Moto != "" %}
									<img src="/img/{{modele.img1Moto}}" class="w-50" alt="modele-{{modele.libModele}}">
								{% else %}
									<img src="/img/default.png" class="w-50" alt="{{modele.libModele}}">
								{% endif %}
							</a>
						</div>
						<div class="card-body text-center col-6">
							<a href="{{path('show_moto', {'id': modele.id})}}" class="occaz">
								<h5 class="text-danger">{{modele.libModele|upper}}</h5>
								<p>Les points forts de la moto :
									{{ modele.descrOccasion|raw}}
								</p>
							</a>
						</div>
						<div class="col-3 align-self-center">
							<p class="card-text text-danger text-center">{{modele.prixMoto}}
								€</p>
						</div>
					</div>
				{% endfor %}

			</div>


		</section>

	</main>
{% endblock %}
