{% extends 'base.html.twig' %}

{% block title %}
	Aides à la conduite
{% endblock %}

{% block body %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
{{parent()}}

		<div class="container-fluid m-2">
			<div class="row d-flex justify-content-between mb-3">
				<h1 class="my-2">Aides à la conduite</h1>
				<a href="{{ path('aides_conduite_new') }}" class="btn btn-info align-self-center mr-4">
					<i class="fa fa-plus"></i>
					Ajouter</a>
			</div>

			<div class="container-fluid m-2">

				<p class='alert-info p-3'>
					<i class="fa fa-info-circle"></i>
					Le contenu de cette page se répercute sur les pages modèles de moto.</p>

				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Aides à la conduite</th>
							<th colspan="2">Actions</th>
						</tr>
					</thead>

					<tbody>
						{% for aides_conduite in aides_conduites %}
							<tr>
								<td>{{ aides_conduite.id }}</td>
								<td>{{ aides_conduite.libAideConduite }}</td>

								<td>
									<a href="{{ path('aides_conduite_edit', {'id': aides_conduite.id}) }}" class="btn btn-info">
										<i class="fa fa-pen"></i>
										Modifier</a>
									<a href="{{ path('aides_conduite_delete', {'id': aides_conduite.id}) }}" class="btn btn-danger">
										<i class="fa fa-trash-alt"></i>
										Supprimer</a>
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="3">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>

{% endblock %}
