{% extends 'base.html.twig' %}

{% block title %}Modifier la couleur
{% endblock %}

{% block body %}
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
		<div class="col-12">
			<h1>Modifier la couleur -
				{{ couleur.libCouleur }}</h1>
			<a href="{{ path('couleurs_index') }}" class="btn btn-info">
				<i class="fa fa-arrow-left"></i>
				Retour à la liste
			</a>
		</div>

		<div class="container mt-3">
			{{form_start(form)}}
			<div class="mb-3">
				{{form_label (form.lib_couleur)}}
				<font style="color:red">*</font>
				{{form_widget (form.lib_couleur)}}
			</div>

			<div class="mb-3">
				{{form_label (form.img_color)}}
				<font style="color:red">*</font>
				<div>
					{% if couleur.imgColor != "" %}
						<img src="/img/{{ couleur.imgColor }}" alt="{{ couleur.libCouleur }}" class="mb-2 img-edit">
					{% else %}
						<img src="/img/default.png" alt="default_image" class="mb-2 img-edit">
					{% endif %}
					{{form_widget (form.img_color, {'attr' : {'class': 'inline' }})}}
					{{form_help (form.img_color)}}
				</div>
			</div>

			{{ form_rest(form)}}
			<div class="row mt-3">
				<button type="submit" class="btn btn-info mr-2">
					<i class="fa fa-pen"></i>
					Modifier</button>
				<a href="{{path('couleurs_delete', {'id':couleur.id})}}" class="btn btn-danger mr-2">
					<i class="fa fa-trash"></i>
					Supprimer</a>
			</div>
			{{ form_end(form)}}

		</div>

	</main>
{% endblock %}
