{% extends 'base.html.twig' %}

{% block title %}
	Modifier la marque -
	{{ marque.libMarque }}
{% endblock %}

{% block body %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
		<div class="col-12">
			<h1>Modifier la marque -
				{{ marque.libMarque }}</h1>
			<a href="{{ path('marques_index') }}" class="btn btn-info">
				<i class="fa fa-arrow-left"></i>
				Retour à la liste
			</a>
		</div>

		<div class="container mt-3">

			{{ form_start(form)}}

			<div class="mb-3">
				{{form_label (form.lib_marque)}}
				<font style="color:red">*</font>
				{{form_widget (form.lib_marque)}}
			</div>

			<div class="mb-3">
				{{form_label (form.descr_marque)}}
				{{form_widget (form.descr_marque)}}
				{{form_help (form.descr_marque)}}
			</div>

			<div class="mb-3">
				{{form_label (form.resume_marque)}}
				{{form_widget (form.resume_marque)}}
				{{form_help (form.resume_marque)}}
			</div>

			<div class="mb-3">
				{{form_label (form.logo_marque)}}
				<div>
					{% if marque.logoMarque !="" %}
						<img src="/img/{{ marque.logoMarque }}" alt="{{ marque.libMarque }}" class="mb-2 img-edit">
					{% else %}
						<img src="/img/default.png" alt="default_image" class="mb-2 img-edit">
					{% endif %}
					{{form_widget (form.logo_marque)}}
					{{form_help (form.logo_marque)}}
				</div>
			</div>

			{{ form_rest(form)}}
			<div class="row mt-3">
				<button type="submit" class="btn btn-info mr-2">
					<i class="fa fa-pen"></i>
					Modifier</button>
				<a href="{{path('marques_delete', {'id':marque.id})}}" class="btn btn-danger mr-2">
					<i class="fa fa-trash"></i>
					Supprimer</a>
			</div>
			{{ form_end(form)}}

		</div>

	</main>
{% endblock %}
