{% extends 'base.html.twig' %}

{% block title %}
	Marques
{% endblock %}

{% block body %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
{{parent()}}
		<div class="container-fluid m-2">
			<div class="row d-flex justify-content-between mb-3">
				<h1 class="my-2">Marques</h1>
				<a href="{{ path('marques_new') }}" class="btn btn-info align-self-center mr-4">
					<i class="fa fa-plus"></i>
					Ajouter</a>
			</div>

			<div class="container-fluid m-2">

			<p class='alert-info p-3'><i class="fa fa-info-circle"></i> Le contenu de cette page se répercute sur les pages catalogue des ventes, benelli, brixton, occasion et modèles de moto.</p>

			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Marque</th>
						<th>Descriptif</th>
						<th>Résumé</th>
						<th>Logo</th>
						<th colspan="2">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for marque in marques %}
						<tr>
							<td>{{ marque.id }}</td>
							<td>{{ marque.libMarque }}</td>
							<td style="word-wrap: break-word;min-width: 160px;max-width: 250px;">
								{{ marque.descrMarque|raw }}
							</td>
							<td style="word-wrap: break-word;min-width: 160px;max-width: 360px;">{{ marque.resumeMarque|raw }}</td>
							<td class="cellwidthimg">
								{% if marque.logoMarque !="" %}
									<img src="/img/{{ marque.logoMarque }}" alt="{{ marque.libMarque }}" class="img-prez img-fluid mx-auto">
								{% else %}
									<img src="/img/default.png" alt="default_image" class="img-prez img-fluid mx-auto">
								{% endif %}
							</td>
							<td class='align-middle align-self-center'>
								<a href="{{ path('marques_edit', {'id': marque.id}) }}" class="btn btn-info">
									<i class="fa fa-pen"></i>
									Modifier</a>
								<a href="{{ path('marques_delete', {'id': marque.id}) }}" class="btn btn-danger">
									<i class="fa fa-trash-alt"></i>
									Supprimer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


</main>
{% endblock %}
