{% extends 'base.html.twig' %}

{% block title %}Modifier l'entreprise
{% endblock %}

{% block body %}
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
		<div class="col-12">
			<h1>Modifier l'entreprise</h1>
			<a href="{{ path('ets_index') }}" class="btn btn-info">
				<i class="fa fa-arrow-left"></i>
				Retour à la liste
			</a>
		</div>


		<div class="container mt-3">
			{# {{ include('ets/_form.html.twig', {'button_label': 'Update'}) }} #}

				{{ form_start(form)}}

				<div class='mb-3'>
				{{form_label (form.texte_accueil)}} <font style="color:red">*</font>
				{{form_widget (form.texte_accueil)}}
				{{form_help (form.texte_accueil)}}
				</div>

				<div class='mb-3'>
				{{form_label (form.tel_ets)}} <font style="color:red">*</font>
				{{form_widget (form.tel_ets)}}
				{{form_help (form.tel_ets)}}
				</div>

				<div class='mb-3'>
				{{form_label (form.fax_ets)}}
                {{form_widget (form.fax_ets)}}
				{{form_help (form.fax_ets)}}
				</div>

				<div class='mb-3'>
				{{form_label (form.mail1_ets)}} <font style="color:red">*</font>
				{{form_widget (form.mail1_ets)}}
				</div>
				
				<div class='mb-3'>
				{{form_label (form.mail2_ets)}}
				{{form_widget (form.mail2_ets)}}
				</div>
                
				<div class='mb-3'>
				{{form_label (form.horaires)}} <font style="color:red">*</font>
				{{form_widget (form.horaires)}}
				{{form_help (form.horaires)}}
				</div>
                
				<div class='mb-3'>
				{{form_label (form.adresse_ets)}} <font style="color:red">*</font>
				{{form_widget (form.adresse_ets)}}
				</div>
                
				<div class='mb-3'>
				{{form_label (form.cp_ets)}} <font style="color:red">*</font>
				{{form_widget (form.cp_ets)}}
				</div>
                
				<div class='mb-3'>
				{{form_label (form.ville_ets)}} <font style="color:red">*</font>
				{{form_widget (form.ville_ets)}}
				</div>
                
                {{ form_rest(form)}}

			<div class="row mt-3">
				<button type="submit" class="btn btn-info mr-2">
					<i class="fa fa-pen"></i>
					Modifier</button>
				{# {{ include('ets/_delete_form.html.twig') }} #}
			</div>
			{{ form_end(form)}}
		</div>

	</main>

{% endblock %}
