    <!-- FOOTER -->
    <footer class="page-footer foot-cont">

        <nav class="navbar fixed-bottom justify-content-center navbar-dark bg-dark">
            <ul class="col-12 nav justify-content-center" id="footerLinks">
                <li class="nav-item">
                    <a class="nav-link footer-link" href="{{path('home')}}">Accueil</a>
                </li>

                <li class="nav-item dropup bg-dark text-danger-50">
                    <a class="nav-link footer-link dropdown-toggle focused" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" href="{{path('page_catalogue_marques')}}">Vente de motos</a>
                    <div class="dropdown-menu bg-dark">
                        <a class="nav-link footer-link" href="{{path('page_benelli')}}">Benelli</a>
                        <a class="nav-link footer-link" href="{{path('page_brixton')}}">Brixton</a>
                        <a class="nav-link footer-link" href="{{path('page_occasions')}}">Occasions</a>
                    </div>
                </li>

                <li class="nav-item dropup bg-dark text-danger-50">
                    <a class="nav-link footer-link dropdown-toggle focused" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" href="#">Services</a>
                    <div class="dropdown-menu bg-dark">
                        <a class="nav-link footer-link" href="{{path('page_banc_puissance')}}">Banc de puissance</a>
                        <a class="nav-link footer-link" href="{{path('page_entretien')}}">Entretien</a>
                        <a class="nav-link footer-link" href="{{path('page_restauration')}}">Restauration</a>
                        <a class="nav-link footer-link" href="{{path('page_prepa_perso')}}">Préparation et personnalisation</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link footer-link" href="{{path('page_actus')}}">Galerie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link footer-link" href="{{path('page_contact')}}">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link footer-link" href="{{path('page_faq')}}">FAQ</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link footer-link" href="{{path('legacy')}}">Mentions légales</a>
                </li>
            </ul>
        </nav>
    </footer>

    <!-- SCRIPTS JS -->
    <!-- <script src="./js/script.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>