{% extends 'base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-3">
{{parent()}}

		<div class="container-fluid m-2">
			<div class="row d-flex justify-content-between mb-3">
				<h1 class="my-2">Utilisateurs</h1>
				<a href="{{ path('user_new') }}" class="btn btn-info align-self-center mr-4">
					<i class="fa fa-plus"></i>
					Ajouter</a>
			</div>

			<div class="container-fluid m-2">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Avatar</th>
							<th>Pseudo</th>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Rôle</th>
							<th colspan="2">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{% for user in users %}
								<td>{{ user.id }}</td>
								<td>
									{% if user.avatarUser !="" %}
										<img src="/img/{{ user.avatarUser }}" alt="{{ user.pseudo }}" class="img-edit img-fluid mx-auto">
									{% else %}
										<img src="/img/default-user.png" alt="default_image" class="img-edit img-fluid mx-auto">
									{% endif %}
								</td>
								<td>{{ user.pseudo }}</td>
								<td>{{ user.prenomUser }}</td>
								<td>{{ user.nomUser }}</td>
								<td>
									{% for role in user.roles %}
										{% if role == "ROLE_ADMIN" %}
											Administrateur
										{% elseif role == "ROLE_DEV" %}
											Développeur
											{# {% elseif role == "ROLE_USER" %}
												Utilisateur #}
										{% endif %}
									{% endfor %}
								</td>
								<td>
									<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-info">
										<i class="fa fa-pen"></i>
										Modifier</a>
									<a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger">
										<i class="fa fa-trash-alt"></i>
										Supprimer</a>
								</td>
							</tr>
						</tr>
					</tbody>
			</tr>
		{% else %}
			<tr>
				<td colspan="6">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table></div></div></main>{% endblock %}
